<html>
<body>
<b>MemeForge</b>
<br />

<ul>
<li><a href='/image'>Make a new meme</a></li>
<li><a href='/mymemes'>My memes</a></li>
<li><a href='/feedback'>Give feedback</a></li>
</ul>
<br />
Ad: <%= get_ad %>
</body>
</html>