<img src="http://memecaptain.com/i?u=http://safe-wildwood-3459.herokuapp.com/<%= session[:temp_file_name] %>&t1=<%= session[:top] %>&t2=<%= session[:bottom] %>" width="auto" height="550px" />
<a href="/">Again</a>
